<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <bean id="template" class="org.springframework.amqp.rabbit.core.RabbitTemplate">
        <constructor-arg ref="factory"/>
    </bean>

    <bean id="factory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <property name="host" value="${RABBIT_HOST}"/>
        <property name="port" value="#{systemEnvironmemt['RABBIT_PORT']}"/>
        <property name="username" value="${RABBIT_USER}"/>
        <property name="virtualHost" value="${RABBIT_VHOST}"/>
        <property name="password" value="${RABBIT_PASSWORD}"/>
    </bean>


</beans>