<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd"
       default-autowire="byName">

    <context:property-placeholder/>


    <bean id="rabbitMqUrlRegex" class="java.util.regex.Pattern" factory-method="compile">
        <constructor-arg value="amqp://(.*):(.*)@(.*):(.*)(/.*)"/>
    </bean>

    <bean id="rabbitMqUrlMatcher" factory-bean="rabbitMqUrlRegex" factory-method="matcher" init-method="find">
        <constructor-arg value="${RABBITMQ_URL:amqp://guest:guest@localhost:5672/}"/>
    </bean>

    <bean id="rabbitMqUser" factory-bean="rabbitMqUrlMatcher" factory-method="group">
        <constructor-arg value="1"/>
    </bean>

    <bean id="rabbitMqPassword" factory-bean="rabbitMqUrlMatcher" factory-method="group">
        <constructor-arg value="2"/>
    </bean>

    <bean id="rabbitMqHost" factory-bean="rabbitMqUrlMatcher" factory-method="group">
        <constructor-arg value="3"/>
    </bean>

    <bean id="rabbitMqPortString" factory-bean="rabbitMqUrlMatcher" factory-method="group">
        <constructor-arg value="4"/>
    </bean>

    <bean id="rabbitMqPort" class="java.lang.Integer" factory-method="valueOf">
        <constructor-arg ref="rabbitMqPortString"/>
    </bean>

    <bean id="rabbitMqVHost" factory-bean="rabbitMqUrlMatcher" factory-method="group">
        <constructor-arg value="5"/>
    </bean>


    <bean id="cf" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <property name="host" ref="rabbitMqHost"/>
        <property name="port" ref="rabbitMqPort"/>
        <property name="username" ref="rabbitMqUser"/>
        <property name="password" ref="rabbitMqPassword"/>
        <property name="virtualHost" ref="rabbitMqVHost"/>
    </bean>

    <rabbit:admin id="admin" connection-factory="cf"/>

    <rabbit:queue id="silly-wabbit-queue" durable="true" auto-delete="false" exclusive="false"
                  name="silly-wabbit-queue"/>

    <rabbit:direct-exchange name="silly-wabbit-exchange" durable="true" auto-delete="false" id="silly-wabbit-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="silly-wabbit-queue" key="silly-wabbit-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <bean id="template" class="org.springframework.amqp.rabbit.core.RabbitTemplate">
        <property name="connectionFactory" ref="cf"/>
        <property name="exchange" value="silly-wabbit-exchange"/>
        <property name="queue" value="silly-wabbit-queue"/>
        <property name="routingKey" value="silly-wabbit-key"/>
    </bean>


</beans>